cluster: {{ cluster }}
executor: {{ executor }}
changed secret: {{ secret_name }}
{% if added %}
keys added: {{ added }}
{% endif %}
{% if removed %}
keys removed: {{ removed }}
{% endif %}
{% if changed %}
keys changed: {{ changed }}
{% endif %}
