version: '2.1'
orbs:
  codecov: codecov/codecov@3.0.0

jobs:
  e2e-tests:
    machine:
      image: ubuntu-2004:202010-01
      docker_layer_caching: true
    environment:
      K8S_VERSION: v1.20.0
      KUBECONFIG: /home/circleci/.kube/config
      MINIKUBE_VERSION: v1.24.0
      MINIKUBE_WANTUPDATENOTIFICATION: false
      MINIKUBE_WANTREPORTERRORPROMPT: false
      MINIKUBE_HOME: /home/circleci
      CHANGE_MINIKUBE_NONE_USER: true
    steps:
      - checkout
      - run:
         name: "provision"
         command: |
           sudo apt-get update -y
           sudo apt-get install -y conntrack python3-pip git
           git submodule update -f --init
           pip3 install -U -r docker-image/requirements.txt
           pip3 install -e .[tests]
           curl -Lo minikube https://github.com/kubernetes/minikube/releases/download/${MINIKUBE_VERSION}/minikube-linux-amd64
           chmod +x minikube
           sudo mv minikube /usr/local/bin/
           sudo -E minikube start --vm-driver=none --kubernetes-version=${K8S_VERSION}
           sudo ln -s $(which minikube) /usr/local/bin/kubectl
           minikube addons enable ingress
           kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission
           curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash
           sudo tee -a /etc/hosts \<<< "$(minikube ip) dummy.info"
           sudo tee -a /etc/hosts \<<< "$(minikube ip) dummy-dev.info"
           docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD

      - run:
         name: "e2e tests"
         command: |
           mv ~/.kube/config ~/.kube/kubeconfig-test
           lain use test
           py.test tests --cov=lain_cli
           coverage xml

      - codecov/upload

workflows:
  version: 2.1
  tests:
    jobs:
      - e2e-tests
